#
# ports_vlan, vlan of the ports
# ports_other, ports of those always part of ports_vlan
# port_bridge, port of the bridge link
# ip_my, ip address to check for connectivity of my wing
# ip_other, same as ip_my, but for the other wing
#
config upup upup
	option ports_vlan	'1'
	option ports_other	'0 1 2 3'
	option port_bridge	'4'
	option ip_my	'192.168.177.177'
	option ip_other	'114.114.114.114'
	option ip_timeout_my	1
	option ip_timeout_other	1
